<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/stylesheet.css">
  <title>Music Utils</title>
</head>
<body>
  <h1>Spotify</h1>
  <iframe src="https://open.spotify.com/embed/artist/20xAtS9rocibFnYmKQibm9" width="600" height="760" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <h1>Track Lists</h1>
  {% for genre in data %}
  <h2>{{ genre }}</h2>
  {% for item in data[genre] %}
  <p><a href={{ item.url }}>{{ item.name }}</a></p>
  {{ item.table }}
  {% endfor %}
  {% endfor %}
</body>
</html>